---
import type { Page } from 'astro';

const { page, baseUri } = Astro.props as { page: Page<any>; baseUri: string };

const range = 2;

const start = Math.max(1, page.currentPage - range);
const end = Math.min(page.lastPage, page.currentPage + range);
---

{
  page.lastPage > 1 && (
    <nav class="flex justify-center items-center gap-3 mt-16">
      {page.url.prev && (
        <a
          href={page.url.prev}
          class="px-4 py-2 rounded-xl border border-gray-200 hover:bg-gray-100 transition"
        >
          ← Prev
        </a>
      )}

      {Array.from({ length: end - start + 1 }).map((_, i) => {
        const pageNumber = start + i;
        const url = `${baseUri}/${pageNumber}`;
        const isActive = pageNumber === page.currentPage;

        return (
          <a
            href={url}
            class={`px-4 py-2 rounded-xl transition
        ${
          isActive
            ? 'bg-black text-white shadow'
            : 'border border-gray-200 hover:bg-gray-100'
        }`}
          >
            {pageNumber}
          </a>
        );
      })}

      {page.url.next && (
        <a
          href={page.url.next}
          class="px-4 py-2 rounded-xl border border-gray-200 hover:bg-gray-100 transition"
        >
          Next →
        </a>
      )}
    </nav>
  )
}
